/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background-color: #F5F1EA;
    font-family: 'Source Serif Pro';
    
}

.mynavbar{
    background-color: #F5F1EA;
    font-family: 'Source Serif Pro';
    padding-top: 5px;
    font-size: large;
    text-decoration: none;
    margin-left: auto;
}
.mynavbar a {
    color: #8C9086;
    margin: 15px 10px 0;
    display: inline-block;
    text-decoration: none;
    
}
.mynavbar a:hover{
    color: #0a0a0a;
    text-decoration: none;

}
.navbar-brand{
    color: #0a0a0a;
    font-size: 4rem;
    margin: 0%;
    font-family: 'Inter';
    font-weight: 700;
    padding: 0px 0px 0px;

}

.form-inline {
    position: absolute;
    right: 0;
    margin-right: 20px;
  }

 .circular-search {
    border-radius: 30px;
  }
  
  .form-control {
    background-color: transparent;

}

.form-control:hover {
    border-color: #8C9086;
    box-shadow: none;
}

button:after {
    outline-color: transparent;
  }
  

.btn-outline-success {
    background-color: transparent;
    color: #8C9086;
  }
  
  .btn-outline-success:hover {
    background-color: transparent;
    color: #fff;
  }

  .bi-search {
    font-size: 2rem;
    color: #000;
  }
  .bi-search:hover{
    color: #e2dbdb;
  }

.notice{
    font-size: 14px;
    padding: 0px 0px 0px;
}

.alert{
    font-size: 14px;
    padding: 0px 0px 0px;
}


.btn-primary {
  background-color: #ABCD78;
  color: white;
}
