.tinymce {
    width: 90%;
    height: 470px; 
    max-width: 700px; 
    
  }

  .title-field{
    border-radius: 30px;
    background-color: transparent;
    border-color: #ccc;
    font-size: 16px;
    height: 25px;
    width: 300px;
  }

 h2{
  font-size: 26px;
 }

 .writingbutton{
  background-color: #ABCD78;
  color: #F5F1EA;
  border-radius: 20px;
  padding: 10px 20px;
 }